body {
    background-image: url("../images/fond2.jpg");
    background-color: #cccccc;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }

 .titre {
    position: absolute;
    top: 1%;
 }

.menuSidebar {
    display:none;
    width:15%;
}

.cartePres {
    padding-right: 5%;
    padding-left: 2%;
}
 
.imgCont {
    margin: 5px;
    height: 300px;
}

.imgTable {
    margin: 5px;
    width: 300px;
}

.footer {
    text-align: center;
    color: black;
}

table, th, td
{
    border: 1px solid black;
    border-collapse: collapse;
}